@import "variables";
@import "vendor/slick";

.gitlab-promo-banner {
  padding-bottom: 3px;
  background-color: $color-primary-alt;
  font-size: 16px;
  text-align: center;
  line-height: 32px;

  > a {
    color: $color-white;
    border-bottom: 1px solid $color-white;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.landing-container {

  > .container {
    position: relative;
    z-index: 9;
  }

  .landing-hero {
    margin-bottom: 30px;

    .illustration-stroke {
      fill: transparent;
      stroke: $color-secondary;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .illustration-fill {
      fill: $color-secondary;
    }
  }
}

.landing-community {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $landing-community-bg;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba($landing-community-bg, .85), $landing-community-bg 75%);
  }

  .community-image {
    position: relative;
    float: left;
    width: 16.66%;
    padding-top: 16.66%;
    height: auto;
    overflow: hidden;

    @media (min-width: 768px) {
      width: 12.5%;
      padding-top: 12.5%;
    }

    @media (min-width: 990px) {
      width: 10%;
      padding-top: 10%;
    }

    @media (min-width: 1200px) {
      width: 5%;
      padding-top: 5%;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
    }

    .is-loaded {
      display: block;
    }
  }
}

.organizations-disclaimer {
  font-size: 12px;
}

.organizations-logo {
  margin-bottom: 10px;
  line-height: 80px;

  @media (min-width: 990px) {
    margin-bottom: 25px;
  }

  img {
    height: auto;
    max-height: 75px;
  }
}

.testimonials {
  padding-top: 40px;
  padding-bottom: 20px;

  @media (min-width: 990px) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  a:hover {
    text-decoration: none;
  }

  .testimonials-item-link {
    display: inline-block;
  }

  .testimonials-item-image {
    margin-bottom: 10px;
    height: 68px;
    width: auto;
  }

  .testimonials-item-content {
    margin-bottom: 0;
    color: $color-secondary;
    font-size: 26px;
    line-height: 1.15;
    border-left: 0;

    @media (min-width: 990px) {
      font-size: 36px;
    }
  }

  .slick-slide {
    outline: none;
  }

  .slick-dots {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;

    > li {
      display: inline-block;
      margin-left: 2px;
      margin-right: 2px;
      border-radius: 50%;
    }

    .slick-active {
      background-color: $landing-organization-color;
    }
  }

  button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid $landing-organization-color;
    border-radius: 50%;
    color: transparent;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    outline: none;

    &:hover {
      background-color: $landing-organization-color;
    }
  }
}

.what-is-twitter {
  padding-top: 20px;

  @media (min-width: 990px) {
    padding-top: 60px;
  }

  @media (min-width: 1200px) {
    padding-top: 80px;
  }

  a {
    color: $color-secondary-alt;
    text-decoration: none;
    font-size: (20px / 16px) * 1em;
    font-weight: 300;
    border-bottom: 1px solid $color-secondary-alt;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}
